* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.header {
  width: 100%;
  background-color: black;
  padding: 20px 0 40px 0;
  box-shadow:
    1px 0px 0 3px rgba(220,220,220,1),
    1px 0px 0 5px rgba(200,200,200,1),
    1px 0px 0 7px rgba(0,0,0,.2);
}

h1, h2 {
  text-align: center;
  color: white;
}

h1 {
  margin: 15px;
}

h2 {
  font-size: 1em;
  font-style: italic;
}

#get-balance, .display-balance {
  text-align: center;
  position: relative;
  top: -4px;
  left: -4px;
  background-image: linear-gradient(rgba(0,0,0,.4) 0, rgba(255,255,255,.6) 80%);
  background-color: rgba(100,150,100,.3);
  box-shadow:
    1px 1px 0 1px rgba(50,50,50,1),
    2px 2px 0 1px rgba(70,70,70,1),
    3px 3px 0 1px rgba(100,100,100,1),
    4px 4px 0 1px rgba(150,150,150,1),
    5px 5px 0 2px rgba(20,20,20,1),
    5px 5px 0 4px rgba(220,220,220,1),
    5px 5px 0 5px rgba(200,200,200,1),
    5px 5px 0 6px rgba(0,0,0,.2);
  margin: 20px auto;
  border-radius: 5px;
  width: 200px;
  padding: 25px;
}

.display-balance {
  width: 500px;
}

#get-balance:hover {
  background-color: rgba(100,200,100,.8);
}
#get-balance:active {
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow:
    0px 0px 0 1px rgba(70,70,70,1),
    1px 1px 0 2px rgba(20,20,20,1),
    1px 1px 0 4px rgba(220,220,220,1),
    1px 1px 0 5px rgba(200,200,200,1),
    1px 1px 0 6px rgba(0,0,0,.2);
}

#balance {
  margin-top: 10px;
  height: 40px;
  display: block;
  font-size: 0;
}

#balance.large {
  font-size: 2.2em;
  transition: all 2s;
}
